* {
  font-family: 'Itim';
  background-color: rgba(116, 115, 115, 0.226);
  position: relative;
}

<<<<<<< HEAD:Search page/search_style.css
.background{
  position: relative;
  left: 27%;
  top: 42%;
  width: 50%;
=======
.body {
  text-align: center;
>>>>>>> d5c850b38158d301d2b29e015e866a5a05cc81fd:static/search_style.css
}

.background {
  margin: 14em 0 0 7.5em;
}

.logo_button {
  top: 1em;
  left: 1em;
  position: absolute;
<<<<<<< HEAD:Search page/search_style.css
  height:10%;

}
=======
}

.logo {
  height: 1.8em;
}

.text {
  height: 1.8em;
}
>>>>>>> d5c850b38158d301d2b29e015e866a5a05cc81fd:static/search_style.css
