@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

body {
    background-image: linear-gradient(#FBDA66, white);
    background-repeat: no-repeat;
    background-size: 100% 900px;
    height: 1600px;
}

.top-bar {
    position: absolute;
    width: 80%;
    margin: 1em;
    z-index: 1;
    justify-content: space-between;
}

.back {
    height: 2.9em;
    width: 2.9em;
    background-color: #7F5A3F;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 10px 0 rgb(56, 56, 56);
}

.fa-arrow-left{
    margin: 30%;
    font-size: 20px;
    color: white;
} 

.burger {
    height: 2.6em;
    width: 2.6em;
    margin-left: 85%;
    background-color: #F6DB78;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 10px 0 rgb(56, 56, 56);
    border-style: solid;
    border-color: #7F5A3F;
    position: absolute;
}

.fa-bars {
    margin: 30%;
    font-size: 18px;
    color: #7F5A3F;
}

.img-main {
    height: 15em;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.678)), url(https://images.wagwalkingweb.com/media/daily_wag/blog_articles/hero/1678934108.5188236/everything-you-need-to-know-about-siamese-cats.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: inline-block;
    position: relative;
}

.box {
    height: auto;
    width: auto;
    top: 20%;
    margin: 5%;
    background-color: white;
    display: inline-block;
    position: absolute;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0 4px 10px 0 gray;
    text-align: left;
    padding: 1em;
    color: #7F5A3F;
}

.name-res {
    position: absolute;
    z-index: 1;
    margin-left: 10%;
    margin-top: 4em;
    font-size: 2em;
    color: white;
}

.fa-facebook {
    margin-top: 10%;
    font-size: 35px;
}

.fa-tiktok {
    font-size: 30px;
    margin-left: 10%;
}

.button {
    margin-top: 5%;
    width: 10em;
    border-radius: 20px;
    padding: 10px;
    background-color: #F6DB78;
    color: #7F5A3F;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 10px 0 gray;
    cursor: pointer;
    float: right;
}

h1 {
    text-align: center;
    color: #7f5a3fc5;
    margin-top: 37%;
    position: relative;
}

.box-activities {
    height: auto;
    width: auto;
    margin: 5%;
    background-color: #FFF7DC;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 gray;
    text-align: center;
    padding: 1em;
    color: #7F5A3F;
    align-items: center;
}

.img-act {
    height: 12em;
    width: 20em;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 gray;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/RedCat_8727.jpg/1200px-RedCat_8727.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}

.name-act {
    margin: 3%;
}

@media screen and (min-width: 1000px){
    body {
        height: 900px;
    }

    .box-activities {
        margin: 1% 5%;
    }

    .name-res {
        margin-left: 7%;
        margin-top: 5.7em;
        font-size: 2.5em;
    }
    
    .img-main {
        height: 25em;
    }

    .box {
        top: 30%;
    }

    .burger {
        margin-left: 87em;
    }

    h1 {
        margin-top: 6%;
    }
}
