* {
  font-family: 'Itim';
}

.background{
  position: absolute;
  left: 27%;
  top: 42%;
  width: 50%;
}

.background_block{
  width:100vw;
  height:100vh;

}

.logo{
  position: absolute;
  width:20%;
  height:10%;

}

.logo_button{
  position: absolute;
  width:100vw;
  height:100vh;
}