* {
  font-family: 'Itim';
}

.body {
  text-align: center;
}

.background {
  margin: 14em 0 0 7.5em;
}

.logo_button {
  top: 1em;
  left: 1em;
  position: absolute;
}

.logo {
  height: 1.8em;
}

.text {
  height: 1.8em;
}