<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <title>WHEREVER</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Itim&display=swap">
        <link rel="stylesheet" href="/static/style_noti_not.css">
    </head>
    <body>
        <div class="logo_button">
                <img class="logo" src="/static/Images/Logo_WHEREVER(Color).png">
                <img class="text" src="/static/Images/textwherever.png">
                <img class="tab" src="/static/Images/Tab.png">
        </div>
        <div class="background_block">
        <img src="/static/Images/notification.png" class="background">
        </div>
        <div class="bottom_bar">
            
            
            <span class="long_circle">
                <img src="/static/Images/home_logo.png" class="home_logo">
                <img src="/static/Images/noti_logo.png" class="noti_logo">
            </span>
            <span class="dot">
                <img src="/static/Images/search_logo.png" class="search_logo">
            </span>
        </div>
</html>