<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/Image/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/styleprofile.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Button back -->

    
    <span class="top">
        <a href="#" class="back"><i class="fa-solid fa-arrow-left"></i></a>
        <p class="ttx">My Profile</p>
    </span>


    </div>
    <div class="content">
        <div class="avatar">
            <div class="profile-img" id="profileInput">
            </div>
        </div>
    </div>
    <div class="username">
        <p class="name_show" id ="username-p">Username</p>
    </a>
    </div>
    <div >
        <div>
            <p class="name" id="name">Username</p>
            <p class="surname" id="surname">Username</p>
        </div>
        <div class="email">
            <div >
                <ion-icon name="mail" role="img" class="md hydrated"></ion-icon>
                <p class="fin" id="mail">user@mail.com</p>
            </div>
        </div>
        <div class="user">
            <div>
                <ion-icon name="person" role="img" class="md hydrated"></ion-icon>
                <p class="fin" id="usename">usename</p>
            </div>
        </div>
    </div>
</body>
</html>