<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/Detail.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Button back -->

    <a href="/main_page" class="back">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <!-- Image Main -->

    <img class="img-main" src="/static/Images/Shop/Decisive_Cafe.JPG">    

    <!-- Text about shop -->

    <div class="box-text">
        <h2 class="name-res">Decisive Cafe</h2>
        <span class="box">
            <p>ร้านคาเฟ่สไตล์มินิมอลที่เน้นความหรูหร่าแบบเรียบๆ โดยที่ทางร้านจะเน้นไปทาง ของหวาน เเละ เครื่องดื่ม</p>
            <a href="https://www.google.com/maps/place/Decisive+Cafe/@13.7277038,100.7705449,20z/data=!4m14!1m7!3m6!1s0x311d67e099972a97:0x74ce75b8127a503f!2sLuck+and+Roll!8m2!3d13.7272171!4d100.7658079!16s%2Fg%2F11fj83dgy_!3m5!1s0x311d67c5bce0fddd:0x33a29dc102dc218d!8m2!3d13.727784!4d100.7703542!16s%2Fg%2F11n04szcyr?entry=ttu" class="button">
                <i class="fa-solid fa-location-dot"></i>
                Location
            </a>
        </span>
    </div>

    <!-- Activities -->

    <h1 class="rec-act">Recommend Activities</h1>

    <div class="box-act">
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/decisive_dest.jpg">
            <h2 class="name-act">Coffee & Desert</h2>
            <p>ของหวาน เเละ เครื่องดื่ม</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/decisive_book.jpg">
            <h2 class="name-act">Reading & Chill</h2>
            <p>อ่านหนังสือ เเละ ผ่อนคลาย</p>
        </span>
    </div>
</body>
</html>