<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/Detail.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Button back -->

    <a href="/main_page" class="back">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <!-- Image Main -->

    <img class="img-main" src="/static/Images/Shop/sport.JPG">    

    <!-- Text about shop -->

    <div class="box-text">
        <h2 class="name-res">Sport Field</h2>
        <span class="box">
            <p>สนามกีฬาที่มีกีฬาและกิจกรรมที่หลากหลายให้ได้ทำ อาทิเช่น Batminton Football</p>
            <a href="https://maps.app.goo.gl/jxa3WLj4X7ywhFyK9" class="button">
                <i class="fa-solid fa-location-dot"></i>
                Location
            </a>
        </span>
    </div>

    <!-- Activities -->

    <h1 class="rec-act">Recommend Activities</h1>

    <div class="box-act">
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/bat cort.JPG">
            <h2 class="name-act">Batminton</h2>
            <p>สถานที่ ยิมเนเซียม 2 โดยสามารถติดต่อจองล่วงหน้าได้</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/table tanis.JPG">
            <h2 class="name-act">Teble Tenis</h2>
            <p>สถานที่ ยิมเนเซียม 2</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/tannis.JPG">
            <h2 class="name-act">Tenis</h2>
            <p>มีจำนวน 4 สนาม สามารถจองได้ที่สระว่ายน้ำ</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/basketball.JPG">
            <h2 class="name-act">Basketball</h2>
            <p>สนาม ฺBasketball โดยมีหลายสนามและไม่ต้องจอง **แต่หาทีมให้ได้นร้า**</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/futsal.JPG">
            <h2 class="name-act">Futsal</h2>
            <p>มีทั้งสนามกีฬาFutsal และ Football สามารถจองและไปได้เลย</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/runway.JPG">
            <h2 class="name-act">Run</h2>
            <p>ลู่วิ่งที่จะเปิดให้วิ่งในช่วงเย็นๆสำรหับผู้ที่รักการออกกำลังกายทุกๆ ท่าน</p>
        </span>
</body>
</html>