<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/Detail.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Button back -->

    <a href="/main_page" class="back">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <!-- Image Main -->

    <img class="img-main" src="/website/static/Images/Shop/Timber_cafe.JPG">    

    <!-- Text about shop -->

    <div class="box-text">
        <h2 class="name-res">Timber Cafe</h2>
        <span class="box">
            <p>Timber Cafe คาเฟ่สุดชิคประจำย่านลาดกระบังที่ลายร้อมด้วยต้นไม้นาๆพันธ์</p>
            <a href="https://maps.app.goo.gl/AeDGgHHBPpfY5zc7A" class="button">
                <i class="fa-solid fa-location-dot"></i>
                Location
            </a>
        </span>
    </div>

    <!-- Activities -->

    <h1 class="rec-act">Recommend Activities</h1>

    <div class="box-act">
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/market_boat.JPG">
            <h2 class="name-act">Drinks and Desserts</h2>
            <p>เครื่องดื่มและขนมหวานสุดเก๋</p>
        </span>
    </div>
</body>
</html>