<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/Detail.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Button back -->

    <a href="/main_page" class="back">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <!-- Image Main -->

    <img class="img-main" src="/static/Images/Shop/nommaharai.JPG">    

    <!-- Text about shop -->

    <div class="box-text">
        <h2 class="name-res">Nommahalai</h2>
        <span class="box">
            <p>ร้านคาเฟ่ที่เน้นขายนมเพราะนมของเขานั้นอร่อยอย่าบอกใครเชียวเเละในร้านนั้นยังมีบอร์ดเกมเล็กให้เล่นอีกด้วย</p>
            <a href="https://maps.app.goo.gl/Atevuwe9UjUKW8CX9" class="button">
                <i class="fa-solid fa-location-dot"></i>
                Location
            </a>
        </span>
    </div>

    <!-- Activities -->

    <h1 class="rec-act">Recommend Activities</h1>

    <div class="box-act">
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/nommaharai_food.jpg">
            <h2 class="name-act">Cafe</h2>
            <p>อาหารคาว ขนมหวาน และเครื่องดื่ม</p>
        </span>
    </div>
</body>
</html>