<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/Detail.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Button back -->

    <a href="/main_page" class="back">
        <i class="fa-solid fa-arrow-left"></i>
    </a>

    <!-- Image Main -->

    <img class="img-main" src="/static/Images/Shop/market.JPG">    

    <!-- Text about shop -->

    <div class="box-text">
        <h2 class="name-res">Huatake Market (ตลาดเก่าหัวตะเข้)</h2>
        <span class="box">
            <p>ตลาดที่ไม้โบราณสุดคลาสสิค ศูนย์รวมแหล่งร้านค้า คาเฟ่และงานศิลปะเท่ๆเอาไว้มากมาย</p>
            <a href="https://maps.app.goo.gl/YouBv5paPj5ERRLy9" class="button">
                <i class="fa-solid fa-location-dot"></i>
                Location
            </a>
        </span>
    </div>

    <!-- Activities -->

    <h1 class="rec-act">Recommend Activities</h1>

    <div class="box-act">
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/market_boat.JPG">
            <h2 class="name-act">พายเรือ</h2>
            <p>พายเรือเล่นธรรม 350 บาท/ครั้ง แต่ถ้าเก็บขยะครบ 10 ชิ้นลด 100 บาท</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/market_paint.JPG">
            <h2 class="name-act">วาดรูปเฟรมผ้าใบ</h2>
            <p>วาดรูปบุฟเฟต์ เริ่มต้นที่ 199 บาท/เฟรม</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/market_diy.JPG">
            <h2 class="name-act">ของDIY</h2>
            <p>แฮนด์เมดของDIY การ์ด 79 บาท/ชิ้น เรซิ่น 179 บาท/ชิ้น</p>
        </span>
        <span class="activities">
            <img class="img-act" src="/static/Images/Shop/market_gal.JPG">
            <h2 class="name-act">Art's Gellery</h2>
            <p>สามารถเยี่ยมชมนิทรรศกาลทางศิลปะได้ ภาพวาดหรือพิพิธภัณฑ์ของเก่า</p>
        </span>
    </div>
</body>
</html>