<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/Loading.css">
</head>
<body>
    <div class="loading">
        <span>
            <img class="img-1" src="/Image/paw.png">
        </span>
        <span>
            <img class="img-2" src="/Image/paw.png">
        </span>
        <span>
            <img class="img-3" src="/Image/paw.png">
        </span>
        <span>
            <img class="img-4" src="/Image/paw.png">
        </span>
        <span>
            <img class="img-5" src="/Image/paw.png">
        </span>
    </div>
</body>
</html>
