<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/main_style.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Logo -->

    <div class="back_logo">
        <div class="logo_button">
            <img class="logo" src="/static/Images/Logo_WHEREVER(Color).png">
            <img class="text" src="/static/Images/Text_WHEREVER.png">
        </div>
    </div>

    <!-- Bottom Bar -->

    <div class="bottom_bar">
        <span class="long_circle">
            <a href="/main_page"><i class="fa-solid fa-house"></i></a>
            <a href="/profile"><i class="fa-solid fa-user"></i></a>
            <a href="/noti"><i class="fa-solid fa-bell"></i></a>
        </span>
    </div>

    <!-- Content -->

    <div class="dis">
        <div class="main">
            <div class="content" id="c-1">
                <div>
                    <a href="/luck&roll">
                        <img  class="img-main" src="/static/Images/Shop/Luck&Roll.JPG">
                        <p class="deco">Luck & Roll</p>
                    </a>
                </div>
                <div>
                    <a href="/totticafe">
                        <img  class="img-main" src="/static/Images/Shop/Totti_cafe.JPG">
                        <p class="deco">Totti Cafe</p>
                    </a>
                </div>
            </div>
            <div class="content">
                <div>
                    <a href="saisaicafe">
                        <img  class="img-main" src="/static/Images/Shop/saisai_cafe.JPG">
                        <p class="deco">SaiSai Cafe</p>
                    </a>
                </div>
                <div>
                    <a href="/the_boon">
                        <img  class="img-main" src="/static/Images/Shop/The_Boon_Cafe.JPG">
                        <p class="deco">The Boon Cafe</p>
                    </a>
                </div>
            </div>
            <div class="content">
                <div>
                    <a href="/timbercafe">
                        <img  class="img-main" src="/static/Images/Shop/Timber_cafe.JPG">
                        <p class="deco">Timber Cafe</p>
                    </a>
                </div>
                <div>
                    <a href="/mesmile">
                        <img  class="img-main" src="/static/Images/Shop/Mesmile.JPG">
                        <p class="deco">Me Smile</p>
                    </a>
                </div>
            </div>
            <div class="content">
                <div>
                    <a href="/decisivecafe">
                        <img  class="img-main" src="/static/Images/Shop/Decisive_Cafe.JPG">
                        <p class="deco">Decisive Cafe</p>
                    </a>
                </div>
                <div>
                    <a href="/playlistcafe">
                        <img  class="img-main" src="/static/Images/Shop/Playlist.JPG">
                        <p class="deco">Playlist Cafe</p>
                    </a>
                </div>
            </div>
            <div class="content">
                <div>
                    <a href="/paplerncafe">
                        <img  class="img-main" src="/static/Images/Shop/Paplean_cafe.JPG">
                        <p class="deco">Pelaplern Cafe</p>
                    </a>
                </div>
                <div>
                    <a href="/nommahalai">
                        <img  class="img-main" src="/static/Images/Shop/nommaharai.JPG">
                        <p class="deco">Nommahalai</p>
                    </a>
                </div>
            </div>
            <div class="content">
                <div>
                    <a href="/mala">
                        <img  class="img-main" src="/static/Images/Shop/Mala.JPG">
                        <p class="deco">Paomuan Mala</p>
                    </a>
                </div>
                <div>
                    <a href="/fitness">
                        <img  class="img-main" src="/static/Images/Shop/YIM7.JPG">
                        <p class="deco">Fitness</p>
                    </a>
                </div>
            </div>
            <div class="content">
                <div>
                    <a href="/lanprajom">
                        <img  class="img-main" src="/static/Images/Shop/lanprajom.jpg">
                        <p class="deco">Lanprajom</p>
                    </a>
                </div>
                <div>
                    <a href="/sport_field">
                        <img  class="img-main" src="/static/Images/Shop/sport.JPG">
                        <p class="deco">Sport Field</p>
                    </a>
                </div>
            </div>
            <div class="content">
                <div>
                    <a href="/swimming_pool">
                        <img  class="img-main" src="/static/Images/Shop/pool.JPG">
                        <p class="deco">Swimming Pool</p>
                    </a>
                </div>
                <div>
                    <a href="/huatake_market">
                        <img  class="img-main" src="/static/Images/Shop/market.JPG">
                        <p class="deco">Huatake Market</p>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>