<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/static/main_style.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- Logo -->

    <div class="back_logo">
        <div class="logo_button">
            <img class="logo" src="/static/Images/Logo_WHEREVER(Color).png">
            <img class="text" src="/static/Images/Text_WHEREVER.png">
        </div>
    </div>

    <!-- Bottom Bar -->

    <div class="bottom_bar">
        <span class="long_circle">
            <a href="http://127.0.0.1:5000/main_page"><i class="fa-solid fa-house"></i></a>
            <a href="http://127.0.0.1:5000/profile"><i class="fa-solid fa-user"></i></a>
            <a href="http://127.0.0.1:5000/noti"><i class="fa-solid fa-bell"></i></a>
        </span>
    </div>

    <!-- Content -->

    <div class="dis">
        <div class="content-1">
            <div>
                <a href="/templates/Detail.html">
                    <img  class="img-main" src="/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
            <div>
                <a href="/templates/Detail.html">
                    <img  class="img-main" src="/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
        </div>
        <div class="content">
            <div>
                <a href="/templates/Detail.html">
                    <img  class="img-main" src="/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
            <div>
                <a href="/templates/Detail.html">
                    <img  class="img-main" src="/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
        </div>
        <div class="content">
            <div>
                <a href="/templates/Detail.html">
                    <img  class="img-main" src="/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
            <div>
                <a href="/website/templates/Detail.html">
                    <img  class="img-main" src="/website/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
        </div>
        <div class="content">
            <div>
                <a href="/website/templates/Detail.html">
                    <img  class="img-main" src="/website/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
            <div>
                <a href="/website/templates/Detail.html">
                    <img  class="img-main" src="/website/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
        </div>
        <div class="content">
            <div>
                <a href="/website/templates/Detail.html">
                    <img  class="img-main" src="/website/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
            <div>
                <a href="/website/templates/Detail.html">
                    <img  class="img-main" src="/website/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
        </div>
        <div class="content">
            <div>
                <a href="/website/templates/Detail.html">
                    <img  class="img-main" src="/website/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
            <div>
                <a href="/templates/Detail.html">
                    <img  class="img-main" src="/static/Images/sanook.JPG">
                    <p class="deco">Sannok</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>