<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>WHEREVER</title>
    <link rel="stylesheet" href="/static/style_noti_not.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Logo -->

    <div class="back_logo">
        <div class="logo_button">
              <img class="logo" src="/static/Images/Logo_WHEREVER(Color).png">
              <img class="text" src="/static/Images/textwherever.png">
        </div>
    </div>

    <!-- Bottom Bar -->

    <div class="bottom_bar">
        <span class="long_circle">
            <a href="#"><i class="fa-solid fa-house"></i></a>
            <a href="#"><i class="fa-solid fa-user"></i></a>
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href=""><i class="fa-solid fa-bell"></i></a>
        </span>
    </div>
</body>
</html>