<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/website/static/Images/Logo_WHEREVER(Color).png">
    <link rel="stylesheet" href="/website/static/styleprofile.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Button back -->

    
    <span class="top">
        <a href="#" class="back"><i class="fa-solid fa-arrow-left"></i></a>
        <p class="ttx">My Profile</p>
    </span>

    <!-- Bottom Bar -->

    <div class="bottom_bar">
        <span class="long_circle">
            <a href="/website/templates/main_page.html"><i class="fa-solid fa-house"></i></a>
            <a href="/website/templates/profile.html"><i class="fa-solid fa-user"></i></a>
            <a href="/website/templates/noti_have.html"><i class="fa-solid fa-bell"></i></a>
        </span>
    </div>

    <!-- Image & Username  -->

    </div>
    <div class="content">
        <div class="avatar">
            <div class="profile-img" id="profileInput">
            </div>
        </div>
        <div class="username">
            <p class="name_show" id ="username-p">Username</p>
        </div>
    </div>

    <!-- Box -->

    <div class="box">
        <div class="name_sur">
            <p class="name" id="name">Username</p>
            <p class="name" id="surname">Username</p>
        </div>
        <div class="email">
            <i class="fa-solid fa-envelope"></i>
            <p class="fin" id="mail">user@mail.com</p>
        </div>
        <div class="user">
            <i class="fa-solid fa-user"></i>
            <p class="fin" id="usename">username</p>
        </div>
    </div>

    <!-- Logout -->

    <div class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <p>Logout</p>
    </div>

</body>
</html>