<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <link rel="icon" href="/website/static/Images/Logo_WHEREVER(Color).png">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <title>WHEREVER</title>
    <link rel="stylesheet" href="/website/static/search_style.css">
    <script src="https://kit.fontawesome.com/8fdb36e626.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Logo -->

    <div class="back_logo">
        <div class="logo_button">
              <img class="logo" src="/website/static/Images/Logo_WHEREVER(Color).png">
              <img class="text" src="/website/static/Images/Text_WHEREVER.png">
        </div>
    </div>

    <!-- Bottom Bar -->

    <div class="bottom_bar">
        <span class="long_circle">
            <a href="#"><i class="fa-solid fa-house"></i></a>
            <a href="#"><i class="fa-solid fa-user"></i></a>
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href=""><i class="fa-solid fa-bell"></i></a>
        </span>
    </div>

    <!-- Search Bar -->

    <div class="search_bar">
        <input type="text" name="Search" placeholder="Search" id="Search">
        <button class="press"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
</body>
</html>