<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WHEREVER</title>
    <link rel="icon" href="/static/Images/Logo_WHEREVER(Color).png">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Itim&display=swap'>
    <link rel="stylesheet" href="/static/styleup.css">
</head>

<script>
    function myFunction() {
    var x = document.getElementById("password1");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
    }
  function myFunction2() {
    var x = document.getElementById("password2");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  function onImageInputChange() {
    var imageUrl = document.getElementById("image").value;
    document.getElementById("profileInput").style.backgroundImage = "url(" + imageUrl + ")";
}
</script>
<body background="/static/Images/image_bg.png">
    <div>
        <img src="/static/Images/Text_WHEREVER.png" class="center">
    </div>
    <div>
        <p class="line"></p>
    </div>
    <div>
        <font class="CNA-txt">Create New Account</font>
    </div>
    <form method="POST">
    <div class="form-group">
        <div>
            <input type="text" class="name" name="name" placeholder="Name" id="name">
            <input type="text" class="surname" name="surname" placeholder="Surname" id="surname">
        </div>
        <div class="email">
            <div class="sec-2">
                <ion-icon name="mail" role="img" class="md hydrated"></ion-icon>
                <input type="email" name="email" placeholder="Email" class="fin" id="email">
            </div>
        </div>
        <div class="user">
            <div class="sec-2">
                <ion-icon name="person" role="img" class="md hydrated"></ion-icon>
                <input type="text" id="username"name="username" placeholder="Username" class="fin">
            </div>
        </div>
        <div class="password">
            <div>
                <ion-icon name="lock-closed" role="img" class="md hydrated"></ion-icon>
                <input class="fin" type="password" name="password1" placeholder="Password" id="password1">
                <ion-icon class="show-hide" name="eye" onclick="myFunction()"></ion-icon>
            </div>
        </div>
        <div class="passwordcheck">
            <div>
                <ion-icon name="lock-closed" role="img" class="md hydrated"></ion-icon>
                <input class="fin" type="password" name="password2" placeholder="Password Again" id="password2">
                <ion-icon class="show-hide" name="eye" onclick="myFunction2()"></ion-icon>
            </div>
        </div>
            <div class="avatar">
                <div class="profile-img" id="profileInput"></div>
                    <div>
                        <input class="mage" type="text" name="image" placeholder="URL" id="image" oninput="onImageInputChange()">
                    </div>
               </div>
            </div>
        <div>
            <button type="submit" class="signup" style="font-family: 'Itim';">Sign Up</button>
        </div>
    </form>
        <div calss="bottom_bar">
            <p class="al-txt">Already have an account?</p>
            <a href="/login" style="text-decoration:none" ><p class="lo-txt">Login</p> </a>
        </div>
    </div>
</body>
</html>
