@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

body {
    background-image: linear-gradient(#FBDA66, white);
    background-repeat: no-repeat;
    background-size: 100% 900px;
    overflow-x: hidden;
    height: 100vh;
}

/* 

Button back 

*/

.back {
    top: 0;
    text-decoration: none;
    position: fixed;
    height: 2.9em;
    width: 2.9em;
    margin: 1em;
    background-color: #7F5A3F;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgb(56, 56, 56);
    z-index: 9999;
}

.fa-arrow-left{
    margin: 30%;
    font-size: 20px;
    color: white;
} 

/* 

Image Main 

*/

.img-main {
    height: 15em;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    object-fit: cover;
}

/* 

Text about shop 

*/

.box-text {
    margin-top: -5em;
    display: flex;
    flex-direction: column;
}

.name-res {
    margin-left: 3.5em;
    font-size: 2em;
    color: white;
    text-shadow: 5px 5px 10px black;
}

.box {
    height: auto;
    width: auto;
    margin: 1% 5%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 gray;
    text-align: left;
    padding: 1em;
    color: #7F5A3F;
}

.button {
    margin-top: 5%;
    width: 10em;
    border-radius: 20px;
    padding: 10px;
    background-color: #F6DB78;
    color: #7F5A3F;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 10px 0 gray;
    cursor: pointer;
    float: right;
}

/* 

Activities 

*/

.rec-act {
    text-align: center;
    color: #7f5a3fc5;
}

.box-act {
    width: 100%;
    text-align: center;
}

.activities {
    height: auto;
    width: 20em;
    margin: 1%;
    background-color: #FFF7DC;
    display: inline-block;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 gray;
    text-align: center;
    padding: 1em;
    color: #7F5A3F;
    align-items: center;
}

.img-act {
    height: 12em;
    width: 20em;
    border-radius: 10px;
    box-shadow: 0 4px 10px 0 gray;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    position: relative;
}

.name-act {
    margin: 3%;
}

@media screen and (max-width: 750px){

    .activities {
        margin: 5% 5% 0;
    }

    .name-res {
        margin-left: 10%;
    }

    .box {
        margin: 3% 5% 5%;
    }
}