@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    font-family: "Itim";
}

/* 

Logo 

*/

.back_logo{
  top: 0;
  width: 100%;
  height: 9%;
  position: fixed;
  background-color: rgb(255, 255, 255);
}

.logo_button {
  display: flex;
  height: 1.8em;
  margin: 1em;
}

/* 

  Bottom Bar

*/

.bottom_bar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  top: 89.5%;
}

.long_circle {
  position: fixed;
  height: 3em;
  width: 14em;
  background-color: #F6DB78;
  border-radius: 30px;
  border-color: #7F5A3F;
  border-style: solid;
  text-align: center;
  box-shadow: 0 5px 6px 1px #7f5a3f6b;
}

.long_circle i {
  font-size: x-large;
  padding: .5em .8em;
  color: #7F5A3F;
}

/* 

Content 

*/

.dis{
  display: flex;
  flex-direction: column;
  margin: 10% 5% 20%;
}

.content {
  display: flex;
  flex-direction: row;
  margin: auto auto .8em auto;
}

.content-1 {
  display: flex;
  flex-direction: row;
  margin: 2em auto .8em auto;
}

.img-main {
  border-radius: 10px;
  height: 9.5em;
  width: 9.5em;
  margin: 0.5em;
  box-shadow: 1px 1px 9px #7f5a3fa7;
  object-fit: cover;
}

.deco {
  font-size: x-large;
  color: #7F5A3F;
  font-weight: 600;
  margin: 0 0 0.5em;
  text-align: center;
}

a {
  text-decoration: none;
}
