@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Itim';
  color: #7F5A3F;
}


body{
  background-image: url(/static/Images/image_bg.png), linear-gradient(#FBDA66, white);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
}

/* 

Button

*/

.top {
  display: block;
  margin: 10%;
  top: 0;
  width: 80%;
}

.ttx{
  font-size: xx-large;
  text-align: center;
}

/* 

Image & Username 

*/

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img{
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 10000px;
  width: 192px;
  height: 192px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: #6d4b33;
  box-shadow: 0 5px 6px 1px #7f5a3f6b;
  object-fit: cover;
  margin-top: 15%;
}

.name_show{
  margin: 0;
  font-weight: 800;
  font-size: xx-large;
  text-align: center;
  color: #7F5A3F;
}

.username{
  width: auto;
  margin: .5em 0 1em;
}

.url {
  background: white;
  box-shadow: 0 0 2em #7f5a3f6e;
  border-style: solid;
  border-color: #7F5A3F;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 30px;
  color: #7F5A3F;
  top: 30%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}
/* 

Box

*/

.box {
  margin: 0 5%;
}

.name_sur {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name {
  background: white;
  box-shadow: 0 0 2em #7f5a3f6e;
  border-style: solid;
  border-color: #7F5A3F;
  padding: 0.5em 1em;
  display: flex;
  border-radius: 30px;
  font-size: 125%; 
  width: 100%;
  margin-bottom: 3%;
}

#surname {
  margin-left: .5em;
}

.email ,.user{
  background: white;
  box-shadow: 0 0 2em #7f5a3f6e;
  border-style: solid;
  border-color: #7F5A3F;
  padding: .5em 1em;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  font-size: 125%;
  margin-bottom: 3%;
}

.user {
  margin-bottom: 0;
}

i {
  margin-top: .1em;
  padding-right: .5em;
}

@media screen and (min-width: 1000px) {
  .profile-img{
      margin-top: 3%;
  }
  .top {
    margin: 5em 0 0 0;
    width: 100%;
  }
}

/* 

  Bottom Bar

*/


.bottom_bar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: center;
  top: 89.5%;
}

.long_circle {
  position: fixed;
  height: 3em;
  width: 14em;
  background-color: #F6DB78;
  border-radius: 30px;
  border-color: #7F5A3F;
  border-style: solid;
  text-align: center;
  box-shadow: 0 5px 6px 1px #7f5a3f6b;
}

.long_circle i {
  font-size: x-large;
  padding: .5em .8em;
  color: #7F5A3F;
}

/* 

Logout

*/

.logout {
  font-size: 125%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: none;
  border-style: none;
  margin-top: 3%;
  cursor: pointer;
  text-decoration: none;
}

.fin{
  font-family: 'Itim'; 
  font-size: 125%; 
}

input {
outline: none;
border: none;
}

input::-moz-placeholder {
color: #7F5A3F;
font-size: 0.9em;
}

input:-ms-input-placeholder {
color: #7F5A3F;
font-size: 0.9em;
}

input::placeholder {
color: #7f5a3fbd;
font-size: 0.9em;
}