* {
    font-family: 'Itim';
    color: #7F5A3F;
}

body {
  background-image: url(/static/Images/image_bg.png);
  background-color: #F6DB78;
  height: auto;
}

/* 

Logo

*/

.logo {
  width: 100%;
  text-align: center;
  margin-top: 3%;
}

.logo-text {
  width: 50%;
}

.line {
border-radius: 25px;
background: #E0554D;
padding: 0.5%;
width: 45%;
margin: .5em .5em .5em 35%;
}

.cna {
  text-align: center;
  margin-top: 3%;
}

.CNA-txt {
  font-size: 30px;
  font-weight: 500;
  color: #7F5A3F;
}

/* 

Form

*/

.form-group {
  margin: 3% 5% 0;
}

.name_sur {
  display: flex;
  width: auto;
  margin-bottom: 3%;
}

.name , .surname{
  width: 100%;
  background: white;
  box-shadow: 0 0 2em #7f5a3f6e;
  border-style: solid;
  border-color: #7F5A3F;
  padding: 0.5em 1em;
  display: flex;
  border-radius: 30px;
  font-family: 'Itim'; 
  font-size: 125%; 
}

.surname {
  margin-left: .5em;
}

.email, .user, .password, .passwordcheck{
  background: white;
  box-shadow: 0 0 2em #7f5a3f6e;
  border-style: solid;
  border-color: #7F5A3F;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin-bottom: 3%;
}

.fin{
  font-family: 'Itim'; 
  font-size: 125%;
  width: 85%;
}

input {
  border: none;
  background: none;
}

input::-moz-placeholder {
  color: #7F5A3F;
  font-size: 0.9em;
}

input:-ms-input-placeholder {
  color: #7F5A3F;
  font-size: 0.9em;
}

input::placeholder {
  color: #7f5a3fbd;
  font-size: 0.9em;
}

.press {
  text-align: center;
}

.signup {
  padding: 0.5em;
  background: #7F5A3F;
  box-shadow: 0 2px 5px 2px#7f5a3f7a;
  color: white;
  border: none;
  border-radius: 100px;
  font-weight: 100;
  font-size: 125%;
  width: 6em;
}

.bottom_bar {
  margin: 5%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.al-txt {
  font-size: 18px;
  font-weight: 600;
}

.lo-txt {
  font-size: 35px;
  font-weight: 1000;
  color: #ffffff;
  -webkit-text-stroke: 1px #7F5A3F;
  margin-left: 1em;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .center{
    width: 30%;
    left: 40%;
  }
  
  .form-group {
    padding: 0 20%;
  }

  .logo-text {
    width: 30%;
  }

  .cna {
    margin-top: 1.5em;
  }
  
  .line {
  border-radius: 25px;
  background: #E0554D;
  padding: 0.3%;
  width: 25%;
  margin: .5em .5em .5em 45%;
  }
  

}

.circle{
  border-radius: 100%;
  color: #ffffff;
  border-style: solid;
  width: 100%;
  height: 100%;
}

.avatar {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.profile-img{
  display: flex;
  background: rgb(255, 255, 255);
  border-radius: 1000000px;
  width: 95px;
  height: 95px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-color: #6d4b33;
  box-shadow: 0 5px 6px 1px #7f5a3f6b;
}
.mage{
  background: white;
  box-shadow: 0 0 2em #7f5a3f6e;
  border-style: solid;
  border-color: #7F5A3F;
  padding: 0.5em 1em;
  display: flex;
  border-radius: 30px;
  font-size: 125%; 
  width: 8em;
  margin-top: 1.3em;
  font-family: 'Itim';
  margin-left: 1em;
}